<template>
      <lecteur :links="links" :poster="poster" width="500" height="350" :controls="controls"></lecteur>
</template>

<script>
import Lecteur from './Video';

export default {
  name: 'page',
  components :{
    'lecteur': Lecteur
  },
  data () {
    return {
      controls : true,
      height : 350,
      width : 500,
      poster : 'http://media.w3.org/2010/05/sintel/poster.png',
      links : [{
          file : 'https://www.quirksmode.org/html5/videos/big_buck_bunny.mp4',
          type : 'video/mp4'
      },
      {
          file : 'https://www.quirksmode.org/html5/videos/big_buck_bunny.webm',
          type : 'video/webm'
      },
      {
          file : 'https://www.quirksmode.org/html5/videos/big_buck_bunny.ogv',
          type : 'video/ogg'
      }],
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
