<template>
    <div id="player-container">
        <div class="controls">
            <button class="btn btn-info" @click="goto(-3)"> -3s </button>
            <input class="input" type="number" step="0.1" min="1" max="5" v-model="videoSpeed" :value="speed" @change="setPlaySpeed()">
            <button class="btn btn-info" @click="goto(3)"> +3s </button>
            <button class="btn btn-info" @click="(paused)?play():pause()"> {{ (paused)?'play':'pause' }} </button>
        </div>
        <div class="video">
            <video id="video-player" :width="width" :height="height" :poster="poster" :controls="controls">
                <source :src="link.file" :type="link.type" v-for="link in links" :key="link.file"></source>
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div id="controls">
            <div class="control-buttons">
                <button id="playpause" class="fa fa-play"></button>
                <button id="rewind" disable class="fa fa-backward"></button>
                <button id="ffwd"class="fa fa-forward"></button>
                <button id="mute" class="fa fa-volume-up"></button>
                <button id="skipback" data-skip="-10"class="fa fa-step-backward"></button>
                <button id="skipfwd" data-skip="10" class="fa fa-step-forward"></button>
            </div>
        </div>
    </div>
</template>
<script>

export default {
  name: 'Lecteur',
  props: ['links','speed','poster', 'width', 'height', 'controls'],
  data () {
    return {
        videoSpeed : 1,
        paused : true,
    }
  },
  methods : {
        setPlaySpeed() {
            const videoPlayer = document.getElementById("video-player")
            videoPlayer.playbackRate = this.videoSpeed;
        },
        getPlaySpeed() {
            const videoPlayer = document.getElementById("video-player")
            return this.videoSpeed;
        },
        play(){
            const videoPlayer = document.getElementById("video-player")
            this.paused = false;
            videoPlayer.play();
        },
        pause(){
            const videoPlayer = document.getElementById("video-player")
            this.paused = true;
            videoPlayer.pause();
        },
        goto( time ) {
            const videoPlayer = document.getElementById("video-player")
            videoPlayer.currentTime = this.getCurrentTime() + time;
        },
        getCurrentTime () {
            const videoPlayer = document.getElementById("video-player")
            return videoPlayer.currentTime;
        }
    }
}

</script>

<style lang="scss">
#app {
    #player-container {
        color :aqua;
    }
}
</style>
